<tr>
	<td align="center" style="color: #191716;font-family: 'helvetica neue', 'helvetica',sans-serif;font-size:32px;">
		{{label_title}}
	</td>
</tr>
<tr height="30">
	<td>&nbsp;</td>
</tr>
<tr>
	<td style="color: #191716;font-family: 'helvetica neue', 'helvetica',sans-serif;font-size:14px;">
		{{label_hello}}
		<br>
		<br><strong>{{label_order_id}}</strong> {{USER_ORDER_ID}}
		<br>
		<br><strong>{{label_status_order}}</strong> {{TRANSACTION_STATUS}}
		<br><strong>{{label_payment_method}}</strong> {{PAYMENT_METHOD}}
		<br><strong>{{label_amount}}</strong> {{TRANSACTION_AMOUNT}}
		<br>
		<br>{{label_king_regards}}
		<br>
		<br>{{label_plabel}}
	</td>
</tr>
