<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Email</title>
</head>
<body style="background-color:#ffffff;">
<table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0">
	<tbody>
	<tr>
		<td valign="top">
			<table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;border-spacing:0;width:742px">
				<tbody>
				<tr height="20">
					<td colspan="4"></td>
				</tr>
				<tr>
					<td align="center" colspan="4">
						<table border="0" cellpadding="0" cellspacing="0" width="660" style="border-collapse:collapse;border-spacing:0">
							<tbody>
							{{mail}}
							<tr style="height:40px">
								<td colspan="4">&nbsp;</td>
							</tr>
							<tr>
								<td align="center" style="color:#d8d8d8;font-family:'helvetica neue', 'helvetica',sans-serif;font-size:12px">
									<img src="https://cdn.plabelclothing.com/source/web-portal-plabel/other/logo-small.png" alt="Plabel" width="80">
								</td>
							</tr>
							<tr style="height:40px">
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td align="center" style="color: #191716">
									<a href="https://plabelclothing.com/policy/terms" style="color:#007eff;;text-decoration:none;font-family:'helvetica neue', 'helvetica', sans-serif;font-size:12px" target="_blank">{{label_terms_use}}</a>&nbsp;•&nbsp;
									<a href="https://plabelclothing.com/policy/shipping" style="color:#007eff;;text-decoration:none;font-family:'helvetica neue', 'helvetica', sans-serif;font-size:12px" target="_blank">{{label_policy_shipping_delivery}}</a>&nbsp;•&nbsp;
									<a href="https://plabelclothing.com/policy/sale" style="color:#007eff;;text-decoration:none;font-family:'helvetica neue', 'helvetica', sans-serif;font-size:12px" target="_blank">{{sale_policy}}</a>&nbsp;•&nbsp;
									<a href="https://plabelclothing.com/policy/refund" style="color:#007eff;;text-decoration:none;font-family:'helvetica neue', 'helvetica', sans-serif;font-size:12px" target="_blank">{{return_policy}}</a>
								</td>
							</tr>
							<tr style="height:40px">
								<td>&nbsp;</td>
							</tr>
							<tr>
								<td align="center" style="color:#191716;font-family:'helvetica neue', 'helvetica',sans-serif;font-size:12px">
									™ Copyrights {{year}} plabel.
									<br>All rights reserved.
								</td>
							</tr>
							</tbody>
						</table>
					</td>
				</tr>
				</tbody>
			</table>
		</td>
	</tr>
	</tbody>
</table>
</body>
